<section>
  <div class="container">
    <div class="row">
      <div class="header">
        <div class="header-1">
          <div>
            <input type="search" placeholder="Chat / Feed chat">
          </div>
          <div class="right-items">
            <i class="bi bi-house"></i>
            <button class="hod">Process Owner HOD</button>
            <button class="Admin">Admin</button>
            <p>Palak Bansal</p>
            <img src="./assets/images/profilepic.png" alt="Profile Picture">
            <i class="bi bi-gear-wide-connected"></i>
            <p><i class="bi bi-box-arrow-right"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
