  /* Sidebar Styles */
  .sidebar {
    width: 250px;
    background-color: #0D1424;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
  }
  .unorderlist{
    list-style: none; 
  }
 
  .lists{
    color: #9EA0B3;

  }