<section class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-6">
        <div class="box mt-3">
          <p>
            <img src="./assets/images/cb.png" class="circle me-2" alt="">
            <span class="name">Chndra boss roylas from hydrerabd</span>
          </p>
        </div>
        
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="box mt-3">
          <p>
            <img src="./assets/images/cb.png" class="circle me-2" alt="">
            <span class="name">Jonathan Higgins</span>
           
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="box mt-3">
          <p>
            <img src="./assets/images/cb.png" class="circle me-2" alt="">
            <span class="name">Cheyenne Bergson</span>
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="box mt-3">
          <p>
            <img src="./assets/images/cb.png" class="circle me-2" alt="">
            <span class="name">Hannibal Smi hello hai Namasthey</span>
            
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="box mt-3">
          <p>
            <img src="./assets/images/cb.png" class="circle me-2" alt="">
            <span class="name">Capt. Trunk </span>
            
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="box mt-3">
          <p>
            <img src="./assets/images/cb.png" class="circle me-2" alt="">
            <span class="name">Cheyenne Bergson Welcome</span>
            
          </p>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3 col-12 container">
          <div class="box-1 mt-3">
            <div>
              <img src="./assets/images/cb.png" class="circle-1 me-2" alt="">
            </div>
            <div>
              <p class="name-1 m-0 mt-2">Cheyenne Bergson</p>
              <p class="location"><i class="bi bi-geo-alt"></i>1 Market Street San Francisco, CA 94105</p>
            </div>
              
          </div>
          <div class="customer-id mt-3">
            <div class="customers">
                <div class="customer">
                  <h6 class="mb-2">Customer Id</h6>
                  <p class="mb-2">12345 <i class="bi bi-three-dots-vertical"></i></p>
                </div>
                <hr class="mb-2 mt-0">
            </div>
            <div class="customers">
              <div class="customer">
                <h6 class="mb-2">Email</h6>
                <p class="mb-2">risk123gmail<i class="bi bi-three-dots-vertical"></i></p>
              </div>
              <hr class="mb-2 mt-0">
          </div>
          <div class="customers">
            <div class="customer">
              <h6 class="mb-2">Mobile</h6>
              <p class="mb-2">8978789654<i class="bi bi-three-dots-vertical"></i></p>
            </div>
        </div>

       
            <div class="add">
              <span><i class="bi bi-plus-circle me-2"></i>Add</span>
            </div>

          </div>
          <div class="customer-id mt-3">
            <div class="customers">
                <div class="customer">
                  <h6 class="mb-2">Loyalty Tier</h6>
                  <p class="mb-2">Silver<i class="bi bi-three-dots-vertical"></i></p>
                </div>
                <hr class="mb-2 mt-0">
            </div>
            <div class="customers">
              <div class="customer">
                <h6 class="mb-2">Segment</h6>
                <p class="mb-2">Sleepy Customer<i class="bi bi-three-dots-vertical"></i></p>
              </div>
              <!-- <hr class="mb-2 mt-0"> -->
          </div>
          

       
            <div class="add">
              <span><i class="bi bi-plus-circle me-2"></i>Add</span>
            </div>
        
          </div>
          <div class="customer-id mt-3">
            <div class="customers">
                <div class="customer">
                  <h6 class="mb-2">Lifetime Value</h6>
                  <p class="mb-2">$ 1M<i class="bi bi-three-dots-vertical"></i></p>
                </div>
                <hr class="mb-2 mt-0">
            </div>
            <div class="customers">
              <div class="customer">
                <h6 class="mb-2">Propensity to Purchase</h6>
                <p class="mb-2"><img src="./assets/images/75percentage.png" alt=""><i class="bi bi-three-dots-vertical"></i></p>
              </div>
              <!-- <hr class="mb-2 mt-0"> -->
          </div>
          

       
            <div class="add">
              <span><i class="bi bi-plus-circle me-2"></i>Add</span>
            </div>
        
          </div>
          <div class="customer-id mt-3">
          
            <div class="customers">
              <div class="customer">
                <h6 class="mb-2">Engagement Score</h6>
                <p class="mb-2"><img src="./assets/images/80percentage.png" alt=""><i class="bi bi-three-dots-vertical"></i></p>
              </div>
              <!-- <hr class="mb-2 mt-0"> -->
          </div>
          

       
            <div class="add">
              <span><i class="bi bi-plus-circle me-2"></i>Add</span>
            </div>
        
          </div>
          <div class="mt-3 assign">
              <span class="agent"><i class="bi bi-person-fill-add me-2"></i>Assign other Agent</span>
          </div>
          <div class="mt-3 addnew">
            <span class="Widget">Add New Widget</span>
        </div>
          
        </div>
        <div class="col-lg-4 col-md-3 col-12">
          <div class="chat-ui-container">
          
            <div class="chat-ui-header">
                <button class="chat-ui-tab chat-ui-tab-active">Conversation</button>
                <button class="chat-ui-tab">Attachment</button>
            </div>
    
           
            <div class="chat-ui-messages">
                
                <div class="chat-ui-message chat-ui-received">
                  <div class="chat-bot">
                    <div class="chat-name">
                      <div class="chat-ui-avatar">CB</div>
                      <div class="chat-ui-sender-info">
                        <span class="chat-ui-name">Rachel Adams</span>
                        <span class="chat-ui-timestamp">9:08 PM · Received By WhatsApp</span>
                    </div>
                    </div>
                    <div>
                      <i class="bi bi-three-dots dots-dots"></i>
                    </div>
                  </div>
                  
                   
                    <div class="chat-ui-message-content">
                        <p class="chat-ui-text">
                            Lorem ipsum dolor sit amet consectetur. Et tincidunt odio vivamus ac aliquam. 
                            Placerat maecenas quis ut elementum praesent imperdiet. Egestas mattis pellentesque nibh dui 
                            sed malesuada dolor eget ipsum. Molestie nam morbi id arcu volutpat arcu.
                        </p>
                    </div>
                </div>
                <div class="chat-ui-message chat-ui-received">
                  <div class="chat-bot">
                    <div class="chat-name">
                      <div class="chat-ui-avatar">CB</div>
                      <div class="chat-ui-sender-info">
                        <span class="chat-ui-name">Rachel Adams</span>
                        <span class="chat-ui-timestamp">9:08 PM · Received By WhatsApp</span>
                    </div>
                    </div>
                    <div>
                      <i class="bi bi-three-dots dots-dots"></i>
                    </div>
                  </div>
                  
                   
                    <div class="chat-ui-message-content">
                        <p class="chat-ui-text">
                            Lorem ipsum dolor sit amet consectetur. Et tincidunt odio vivamus ac aliquam. 
                            Placerat maecenas quis ut elementum praesent imperdiet. Egestas mattis pellentesque nibh dui 
                            sed malesuada dolor eget ipsum. Molestie nam morbi id arcu volutpat arcu.
                        </p>
                    </div>
                </div>
                <div class="chat-ui-message chat-ui-received">
                  <div class="chat-bot">
                    <div class="chat-name">
                      <div class="chat-ui-avatar">CB</div>
                      <div class="chat-ui-sender-info">
                        <span class="chat-ui-name">Rachel Adams</span>
                        <span class="chat-ui-timestamp">9:08 PM · Received By WhatsApp</span>
                    </div>
                    </div>
                    <div>
                      <i class="bi bi-three-dots dots-dots"></i>
                    </div>
                  </div>
                  
                   
                    <div class="chat-ui-message-content">
                        <p class="chat-ui-text">
                            Lorem ipsum dolor sit amet consectetur. Et tincidunt odio vivamus ac aliquam. 
                            Placerat maecenas quis ut elementum praesent imperdiet. Egestas mattis pellentesque nibh dui 
                            sed malesuada dolor eget ipsum. Molestie nam morbi id arcu volutpat arcu.
                        </p>
                    </div>
                </div>
                
            </div>
    
            <!-- Footer -->
            <div class="chat-ui-footer">
                <div class="chat-ui-options">
                    <label><input type="checkbox" checked> SMS</label>
                    <label><input type="checkbox" checked> WhatsApp</label>
                    <label><input type="checkbox"> Email</label>
                </div>
                <div class="chat-ui-input-container">
                    <input type="text" placeholder="Type a message..." class="chat-ui-message-input">
                    <button class="chat-ui-send-btn">Send</button>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-3 col-12">
          <div class="askcatura">
            <div class="header">
                <span>Ask Catura</span>
                <div class="menu">
                    <button><i class="bi bi-envelope me-2"></i>WhatsApp<i class="bi bi-caret-down-fill mx-1"></i></button>
                    <!-- <button>Greetings</button> -->
                    <button><i class="bi bi-envelope me-2"></i>Greetings<i class="bi bi-caret-down-fill mx-1"></i></button>
                </div>
            </div>
            <div class="content">
                <div class="template-box">
                    <p class="template-title">Greeting Template</p>
                    <div class="buttons">
                        <button><i class="bi bi-copy me-1"></i> Copy to Send</button>
                        <button><i class="bi bi-eye me-1"></i>Preview</button>
                    </div>
                  
                </div>
            </div>
            <div class="footer">
                <input type="text" placeholder="Type a message..." class="message-input">
                <button class="send-btn">➤</button>
            </div>
        </div>
        <div class="action-ui-container mt-3">
         
          <h1 class="action-ui-title">Action Launcher</h1>
          <hr>
         
          <div class="action-ui-search-container">
              <div class="action-ui-search-wrapper">
                  <span class="action-ui-search-icon"><i class="bi bi-search"></i></span>
                  <input 
                      type="text" 
                      placeholder="Search actions..." 
                      class="action-ui-search-input"
                  />
              </div>
          </div>
  
         
          <div class="action-ui-buttons">
              <button class="action-ui-button action-ui-add-action">
                  <span class="action-ui-plus">+</span> Add Action
              </button>
              <button class="action-ui-button">Fee Reversal</button>
              <button class="action-ui-button">Retail Onboarding</button>
              <button class="action-ui-button">Address Update</button>
          </div>
      </div>
      <div class="action-ui-container mt-3">
         
        <h1 class="action-ui-title"><i class="bi bi-pin-angle me-2"></i>Case Favorite</h1>
        <hr>
        <div>
          <div class="search-input-1 mt-3">Lorem ipsum dolor sit amet consectetur </div>
          <div class="search-input-1 mt-3"><i class="bi bi-image me-2"></i>Photo</div>
          <div class="search-input-1 mt-3">Lorem ipsum dolor sit amet consectetur </div>
        </div>
    </div>
        </div>
      </div>
    </div>
  </section>
</section>



